# Ignore everything
**

# Allow files and directories
!Cargo.toml
!Cargo.lock
!Justfile.docker
!default_survey_config.json
!default_greeting_config.json

!src/**
!templates/**
!static/**
!pipeline_scripts/**