<!doctype html>

<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>
  <meta name="description" content="greeting generation">
  <meta name="author" content="ilia">

  <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="https://unpkg.com/normalize.css/normalize.css" type="text/css">
  <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
</head>

<body>
{% block body %}{% endblock %}
</body>

</html>