<!doctype html>

<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>
  <meta name="description" content="greeting generation">
  <meta name="author" content="ilia">

  <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="https://unpkg.com/normalize.css/normalize.css" type="text/css">
  <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
</head>

<body>
  <h1>{{title}}</h1>
  <form action="/submit_survey">
    {% for section in sections %}
    {% let section_id = loop.index0 %}
    <hr>
    <p>{{section.question}}</p>

    {% for default in section.defaults %}
    <label for="{{default}}"><input type="radio" name="radio_{{section_id}}"> {{default}}</label>
    {% endfor %}

    <label for="label_text_{{section_id}}"><input type="radio" name="radio_{{section_id}}"> <input
        id="input_text_{{section_id}}" placeholder="Your Option" type="text"></label>

    {% endfor %}
    <hr>
    <button type="submit"> {{submit_text}} </button>
  </form>

</body>

</html>